.avatar img,
.avatar span {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.avatar span {
  background: #ccc;
  color: white;
  font-size: 3rem;
}

.upload {
  background: rgba(46, 182, 46, 0.356);
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(53, 53, 53);
  gap: 0.5rem;
  font-size: 0.75rem;
}

.upload input {
  display: none;
}