.red {
  background: red;
}

.blue {
  color: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.white {
  background: white;
}

.orange {
  background: orange;
}

.black {
  background: black;
}

.grey {
  background: grey;
}

.red,
.green,
.yellow,
.white,
.orange,
.black,
.grey,
.blue {
.black {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0 0 5px 0 #00000080;
  cursor: pointer;
}

.black:hover {
  border: 1px solid white;
}

.orange:hover {
  border: 1px solid white;
}

.white:hover {
  border: 1px solid white;
}

.yellow:hover {
  border: 1px solid white;
}

.green:hover {
  border: 1px solid white;
}

.blue:hover {
  border: 1px solid white;
}

.red:hover {
  border: 1px solid white;
}

.grey:hover {
  border: 1px solid white;
}
