.detailsContainer {
  min-height: 100vh;
  width: 100%;
}

.detailsContainer > div {
  grid-template-columns: 1fr 0.8fr;
  padding: 0 1rem;
  gap: 2rem;
  max-width: 1040px;
}

.detailMain img {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
}

.detailMain span {
  font-size: 0.9rem;
}

.detailSide {
  justify-content: center;
}

.detailSide h2 {
  font-size: 1rem;
}

.detailSide > div {
  margin-bottom: 1rem;
}

.detailSide > div span {
  justify-content: space-between;
  font-size: 0.87rem;
  padding: 0.3rem;
}

.detailSide > div span:nth-of-type(even) {
  background: var(--grey-back);
}

.detailSide h3 {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  word-spacing: 2px;
  color: var(--detail-heading);
}

.sliderContainer {
  width: 100%;
  height: 100vh;
  background: var(--light);
}

.swiperDetails h3 {
  color: var(--primary);
  font-size: 0.98rem;
}

.swiperDetails p {
  font-size: 0.8rem;
  text-align: center;
  color: var(--detail-dark);
  margin-top: 0.5rem;
}

.sliderItem img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--primary);
}
